
@section Stylesheets {
    <link rel="Stylesheet" href="@Href("~/Content/CustomCss/Home.css")" />
}

<div class="heading">
    <div class="heading-label">About</div>
    <div class="heading-tagline">Short summary</div>
</div>

<div class="container">

    <div class="section">
        <div class="section-label">Used APIs</div>
        <div>
            <div class="section-image" style='background-image: url("https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg")'></div>
            <div class="section-image" style='background-image: url("https://code.4noobz.net/wp-content/uploads/2018/10/OMDB-API.png")'></div>
        </div>
    </div>

    <div class="section">
        <div class="section-label">Database diagram</div>
        <div class="section-image" style='background-image: url("@Href("~/Content/database_diagram.png")"); width: 40vw; height: 25vw;'></div>
    </div>
</div>
